.mobile-view-scroller::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Handle */
.mobile-view-scroller::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 40px;
}
.invitation-quill .ql-snow.ql-toolbar:after,
.invitation-quill .ql-snow .ql-toolbar:after {
	display: none !important;
}
.invitation-quill #toolbar {
	background: #f2f2f2;
}
.invitation-quill .ql-container.ql-snow {
	border-bottom: 0 !important;
}
.invitation-quill .viewBuiltIn .visible i {
	transform: rotate(180deg);
}
